{% extends "layout.html" %}
{% block title %}Message App{% endblock %}

{% block content %}

<div>
    {% if users %}
    Found {{ count }} users
        <ul>
        {% for user in users %}
                <li>
                    Username:
                    <br>
                    {{ user.username }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        Query does not match any users.
    {% endif %}
</div>

<a href="/">Go back</a>
{% endblock %}